/* MultiStepForm.module.css */

.centeredContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust as needed */
  }
  
  .multistepFormContainer {
    max-width: 400px;
    margin: 20px; /* Adjust as needed */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .inputField {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
 /* MultiStepForm.module.css */

.navigationButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .goBackButton,
  .nextButton {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .goBackButton:hover,
  .nextButton:hover {
    background-color: #45a049;
  }
  
  .goBackButton {
    background-color: #2196f3;
    margin-right: 10px;
  }
  
  .goBackButton:hover {
    background-color: #0b7dda;
  }
  
  
  /* MultiStepForm.module.css */

.carousel {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    padding: 10px;
  }
  
  .carouselItem {
    flex: 0 0 auto;
    width: 150px; /* Adjust the width of each card as needed */
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  
  .selected {
    background-color: #45a049; /* Background color for the selected card */
    border-color: #66bfff; /* Border color for the selected card */
  }
  
  .checkbox {
    margin-top: 5px;
  }
  