/* MultiStepForm.module.css */

.centeredContainer {
  display: flex;
  justify-content: center;
}

.multistepFormContainer {
  max-width: 400px;
  margin: 20px;
  padding: 20px;
  border: 1px solid hsl(var(--border));
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.inputField {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid hsl(var(--border));
  border-radius: 3px;
  font-size: 1rem;
}

.carousel {
  display: flex;
  overflow-x: auto;
  padding: 10px;
}

.carouselItem {
  flex: 0 0 auto;
  width: 150px;
  margin-right: 10px;
  border: 1px solid hsl(var(--border));
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  font-size: 1rem;
}

.selected {
  background-color: var(--accent);
  border-color: hsl(var(--ring));
}

.checkbox {
  margin-top: 5px;
}

.navigationButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.goBackButton,
.nextButton {
  font-size: 1rem;
  background-color: var(--accent);
  color: hsl(var(--primary-foreground));
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.goBackButton:hover,
.nextButton:hover {
  background-color: var(--accent-hover);
}

.goBackButton {
  background-color: hsl(var(--secondary));
  margin-right: 10px;
}

.goBackButton:hover {
  background-color: var(--accent-muted);
}

/* Media query for smaller screens (mobile) */
@media (max-width: 600px) {
  .multistepFormContainer {
    max-width: 100%;
  }

  .inputField,
  .carouselItem,
  .goBackButton,
  .multistepFormContainer,
  .nextButton {
    font-size: 2rem;
  }
}

.additionalInfo {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid hsl(var(--border));
  border-radius: 8px;
  background-color: hsl(var(--muted));
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  color: hsl(var(--foreground));
  font-size: medium;
}

.progressBarContainer {
  width: 100%;
  height: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin-bottom: 10px;
}

.progressBar {
  height: 100%;
  border-radius: 5px;
  background-color: var(--accent);
  transition: width 0.3s ease;
}

.progressText {
  display: block;
  text-align: center;
  font-size: 5px;
  color: hsl(var(--muted-foreground));
}