.container {
  padding: 0rem 1vw;
  width: 100%;
  max-width: 100%;
  overflow-x: scroll;
  /* background-color:steelblue;
  opacity: 0.8; */
}

/* 
  
  .navbar {
    position: relative;
    z-index: 999;
    height: 62px;
    width: 100%;
    background-color: #ccc;
  }
  
  .stickynav {
    position: fixed;
    top: 0;
    left: 0;
  }
   */

   .stickynav {
    background-color: steelblue;
    
    background: linear-gradient(-45deg, #1C2640, #1C2321);
    background-size: 400% 400%;
    animation: gradient 60s ease infinite;

  }

  .logo {
    border-radius: 5%;
    float: left;
  }
  
@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
}
